.Body{
  font-family:sans-serif;
  background-color: aliceblue;
  color: darkslategrey;
  margin: 5px;
  padding: 5px;
}
.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

header {
  height: 100px;
  background-color: lightslategray;
}

header h1{
  margin-bottom: 0%;
}
header p{
  margin: 0%;
}

footer{
  height: 70px;
  background-color: lightslategray;
}

.NavBar {
  height: 50px;
  border-bottom-style: solid;
  background-color:azure;
}

ul{
  list-style-type: none;
}
li{
  padding-left: 10px;
}
.LinksList{
  display:flex;
  align-items: center;
}

.LinksList a{
  color: darkblue;
  font-size: larger;
}

.Main{
  display: flex;
  flex-direction: column;
  min-height: 76vh;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

table {
  width: 70%;
  margin-top: 20px;
  border-color:darkolivegreen;
  border-style:groove;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid grey;
}

th {
  background-color: gainsboro;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  font-family:sans-serif;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button,
button {
  font-family:sans-serif;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submit-button:hover{
  background-color: #0056b3;
}
button:hover {
  background-color: #0056b3;
}

.exercise-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: whitesmoke;
  padding: 20px;
  margin-top: 20px;
}


.exercise-form label {
  margin-bottom: 10px;
}

.exercise-form input,
.exercise-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
}
